body {
  background-color: #FFEBEB;
}

main {
  border: 2px solid #9D0000;
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 32px;
  color: darkred;
  text-align: center;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: black;
  
}

a:hover {
  background-color: gold;
}

img {
  border-color: blue;
  width: 100%;
}
